---
import { ClientRouter } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import "../pages/style.css";
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/global.css">
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	<ClientRouter></ClientRouter>
<style is:global>
	@import "tailwindcss";
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
	}
footer{
min-height: 24rem;
position:relative;
bottom:0;
}
</style>

	</head>
	<body>
<Header/>
		<slot />
	
	</body>
</html>


